.App {
  text-align: center;
}

button {
  padding: 0.3em;
  background: #add8e6;
  border-radius: 5px;
  border: solid #3d3d3d 2px;
}

button:hover {
  box-shadow: 2px 8px 32px 5px rgba(107, 106, 107, 1);
}

button:focus {
  box-shadow: 2px 8px 32px 5px rgba(107, 106, 107, 1);
}
