.movie-container-wrapper {
  background: rgba(220, 220, 220, 0.6);
  text-align: center;
  padding: 2em;
  border-radius: 5px;
  margin-bottom: 1em;
}

.movie-filter-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.movie-filter-wrapper input {
  width: 100%;
}

.movie-filter-wrapper label {
  flex-direction: column;
  font-weight: bold;
  margin-right: 0.4em;
}

.movie-item-wrapper {
  background: white;
  border-radius: 5px;
  margin-top: 1em;
  padding: 0.5em;
  word-wrap: break-word;
}
