.movie-form-wrapper {
  text-align: center;
  display: flex;
  flex-flow: column;
  padding: 2em;
  margin-top: 2em;

  background: rgba(220, 220, 220, 0.6);
  border-radius: 5px;
}

.movie-form-wrapper form label {
  display: flex;
  flex-flow: column;
  font-weight: bold;
}
