.movie-item-wrapper {
  background: white;
  border-radius: 5px;
  margin-top: 1em;
  padding: 0.5em;
  word-wrap: break-word;
}

.movieitemwrapper p,
h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
  padding: 0.2em;
}
